# pandas from the ground up

###        https://www.youtube.com/watch?v=5JnMutdy6Fw&t=47s

### Exercises-1

In [1]:
data_folder = "C:/Users/Admin/Dropbox/Python/Jupyter Notebook files/Exercises_pandasfromthegroundup/"

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np

In [3]:
titles = pd.read_csv(data_folder + "titles.csv", index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [4]:
release_dates = pd.read_csv(data_folder + "release_dates.csv", index_col=None)
release_dates.head()

                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                 #Beings  2015      Romania  2015-01-29
2               #Declimax  2018  Netherlands  2018-01-21
3  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21
4                 #Horror  2015          USA  2015-11-20

In [5]:
cast = pd.read_csv(data_folder + "cast.csv", index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [6]:
print(len(titles['title']))

230621

### What are the earliest two films listed in the titles dataframe?

In [7]:
titles['title'][titles['year'].sort_values().head(2)]

1894    Ahingsa-Jikko mee gam
1898                    Atash
Name: title, dtype: object

### How many movies have the title "Hamlet"?

In [8]:
titles.title[titles['title'] == 'Hamlet'].count()

18

In [9]:
len(titles[titles.title == "Hamlet"])

18

### How many movies are titled "North by Northwest"?

In [10]:
len(titles[titles['title'] == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [11]:
titles.year[titles['title'] == "Hamlet"].min()

1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [12]:
titles[titles.title == "Treasure Island"].sort_values('year')

                  title  year
204540  Treasure Island  1918
50896   Treasure Island  1920
189691  Treasure Island  1934
96259   Treasure Island  1950
59186   Treasure Island  1972
110576  Treasure Island  1973
203909  Treasure Island  1985
178072  Treasure Island  1999

### How many movies were made in the year 1950?

In [13]:
titles.title[titles.year == 1950].count()

1093

### How many movies were made in the year 1960?

In [14]:
titles.title[titles.year == 1960].count()

1496

### How many movies were made from 1950 through 1959?

In [15]:
import numpy as np
np.logical_and(titles.year >= 1950, titles.year <= 1959).sum()

12656

### In what years has a movie titled "Batman" been released?

In [16]:
titles.year[titles.title == "Batman"]

55577    1989
74047    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [17]:
cast.character[cast.title == "Inception"].count()

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [18]:
# cast['n'].isna().sum()
cast.n[cast.title == "Inception"].isna().sum()

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [19]:
cast.n[cast.title == "Inception"].notna().sum()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [20]:
# cast[cast.title == "North by Northwest"][cast.n.isna() == False].sort_values('n')           
cast[cast.title == "North by Northwest"].dropna().sort_values('n')

,title,year,name,type,character,n
840374,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3361396,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1404704,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3024085,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
343701,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2923056,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1634552,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1229083,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2357939,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1746383,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
642085,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2212083,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
447893,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1454363,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
198496,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1334726,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [21]:
cast[cast.title == "Sleuth"].dropna().sort_values('n')

,title,year,name,type,character,n
314692,Sleuth,2007,Michael Caine,actor,Andrew,1.0
1644328,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
314691,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
1246855,Sleuth,2007,Jude Law,actor,Milo,2.0
360365,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1741124,Sleuth,2007,Harold Pinter,actor,Man on T.V.,3.0
1412647,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2619278,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1396572,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [22]:
import numpy as np
cast[np.logical_and(cast.title == "Sleuth", cast.year == 2007)].dropna().sort_values('n')

          title  year           name   type    character    n
314692   Sleuth  2007  Michael Caine  actor       Andrew  1.0
1246855  Sleuth  2007       Jude Law  actor         Milo  2.0
1741124  Sleuth  2007  Harold Pinter  actor  Man on T.V.  3.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [23]:
cast[np.logical_and(cast.title == "Hamlet", cast.year == 1921)].n.sum()

45.0

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [24]:
cast[np.logical_and(cast.title == "Hamlet", cast.year == 1996)].n.sum()

1092.0

### How many "Hamlet" roles have been listed in all film credits through history?

In [25]:
cast[cast.title == "Hamlet"].n.sum()

3304.0

### How many people have played an "Ophelia"?

In [26]:
cast[cast.title == "Ophelia"].name.drop_duplicates().count()

2

### How many people have played a role called "The Dude"?

In [27]:
cast[cast.character == "The Dude"].name.drop_duplicates().count()

18

### How many people have played a role called "The Stranger"?

In [28]:
cast[cast.character == "The Stranger"].name.drop_duplicates().count()

197

### How many roles has Sidney Poitier played throughout his career?

In [29]:
cast[cast.name == "Sidney Poitier"].character.count()

43

### How many roles has Judi Dench played?

In [30]:
cast[cast.name == "Judi Dench"].character.count()

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [31]:
cast[(cast.name == "Cary Grant") & (cast.n == 2) & (cast.year >= 1940) & (cast.year <= 1949)]

                   title  year        name   type    character    n
840371  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
840381    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [32]:
cast[np.logical_and(cast.name == "Cary Grant", cast.n == 1)]

,title,year,name,type,character,n
840335,An Affair to Remember,1957,Cary Grant,actor,Nickie Ferrante,1.0
840336,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
840337,Big Brown Eyes,1936,Cary Grant,actor,Danny Barr,1.0
840341,Charade,1963,Cary Grant,actor,Peter Joshua,1.0
840342,Crisis,1950,Cary Grant,actor,Dr. Eugene Norland Ferguson,1.0
840344,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
840346,Dream Wife,1953,Cary Grant,actor,Clemson Reade,1.0
840348,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
840349,Father Goose,1964,Cary Grant,actor,Walter,1.0
840350,Gambling Ship,1933,Cary Grant,actor,Ace Corbin,1.0
840352,Gunga Din,1939,Cary Grant,actor,Cutter,1.0
840353,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
840355,Hot Saturday,1932,Cary Grant,actor,Romer Sheffield,1.0
840356,Houseboat,1958,Cary Grant,actor,Tom Winters,1.0
840357,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0
840360,Indiscreet,1958,Cary Grant,actor,Philip Adams,1.0
840361,Kiss and Make-Up,1934,Cary Grant,actor,Dr. Maurice Lamar,1.0
840362,Kiss Them for Me,1957,Cary Grant,actor,Cmdr. Andy Crewson,1.0
840363,Ladies Should Listen,1934,Cary Grant,actor,Julian De Lussac,1.0
840367,Monkey Business,1952,Cary Grant,actor,Dr. Barnaby Fulton,1.0
840368,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
840369,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
840370,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
840372,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
840373,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
840374,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
840375,Notorious,1946,Cary Grant,actor,Devlin,1.0
840377,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
840378,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
840379,Only Angels Have Wings,1939,Cary Grant,actor,Geoff Carter,1.0
840380,Operation Petticoat,1959,Cary Grant,actor,Lt. Cmdr. Matt T. Sherman,1.0
840382,People Will Talk,1951,Cary Grant,actor,Dr. Noah Praetorius,1.0
840383,Room for One More,1952,Cary Grant,actor,George Rose,1.0
840386,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
840389,That Touch of Mink,1962,Cary Grant,actor,Philip Shayne,1.0
840391,The Amazing Quest of Ernest Bliss,1936,Cary Grant,actor,Ernest Bliss,1.0
840393,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
840394,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
840396,The Grass Is Greener,1960,Cary Grant,actor,"Victor Rhyall, Earl",1.0
840397,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
840398,The Last Outpost,1935,Cary Grant,actor,Michael Andrews,1.0
840399,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
840400,The Pride and the Passion,1957,Cary Grant,actor,Anthony,1.0
840401,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
840407,To Catch a Thief,1955,Cary Grant,actor,John Robie,1.0
840411,Walk Don't Run,1966,Cary Grant,actor,Sir William Rutland,1.0

### How many roles were available for actors in the 1950s?

In [33]:
cast.type[(cast.type == 'actor') & (cast.year >= 1950) & (cast.year <= 1959)].count()

154727

### How many roles were available for actresses in the 1950s?

In [34]:
cast.type[(cast.type == 'actress') & (cast.year >= 1950) & (cast.year <= 1959)].count()

56259

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [35]:
cast.n[(cast.n == 1) & (cast.year <= 1980)].count()

63924

### How many non-leading roles were available through from the beginning of film history through 1980?

In [36]:
cast.n[(cast.n != 1) & (cast.year <= 1980)].count()

656694

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [37]:
cast.head(8)

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
5,Straight Outta Compton,2015,$hutter,actor,Club Patron,NaN
6,Straight Outta Compton,2015,$hutter,actor,Dopeman,NaN
7,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN

In [38]:
cast.character[(cast.year <= 1980) & (cast.n.isnull() == True)].count()

438086